html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.carousel-inner, .carousel, .item, .container, .fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0px;
}

/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner > .item.next, .carousel-inner > .item.active.right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #00a199;
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: #00a199;
}

html, body, #myVerticalCarousel {
    height: 100%;
    margin: 0;
}

.item {
    text-align: center;
}

.container-about-us {
    padding: 120px 100px 100px 100px;
}

.about-ifest-header {
    padding: 40px;
    color: #b1b1b1;
    font-size: 36px;
    letter-spacing: 1px;
}

.about-ifest-content {
    font-size: 21px;
    letter-spacing: 0.6px;
    color: #919191;
}

#a {
    background-image: url("../assets/firstpage.gif");
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#b {
    background-image: url("../assets/about_ifest.gif");
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#video-background {
    /*  making the video fullscreen  */
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#c {
    background: red;
}

#d {
    /*background: rgba(0, 0, 0, 0);*/
    /*text-align:center;*/
    /*padding:45px 0 66px 0;*/
    /*-webkit-transition: opacity .25s ease;*/
    background: transparent;
}

#map {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.bottom-navbar {
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.icon {
    padding: 10px 7px;
    font-size: 20px;
}

.icon-a {
    color: inherit;
    cursor: pointer;
}

.icon-a:hover {
    color: #f5f5f5;

}

.top-logo {
    position: fixed;
    top: 30px;
    left: 50px;
}

.button-class {
    position: fixed;
    top: 30px;
    right: 50px;
}

.button-class:hover {
    cursor: pointer;
}

.top-navbar-links {
    position: fixed;
    right: 80px;
    top: 33px;
}

.top-navbar-icon {
    font-size: 25px;
    color: #e3e3e3;
}

.inline {
    display: inline;
}

.top-navbar-links-a {
    color: #959595;
    text-decoration: none;
    padding: 2px 15px;
    font-size: 16px;
    border: 2px solid transparent;
}

.top-navbar-links-a:hover {
    text-decoration: none;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #e2e2e2;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.slide-icon {
    position: absolute;
    bottom: 20px;
    right: 49%;
    left: 48%;
    color: white;
    font-size: 30px;
    padding: 5px;
}

.slide-icon:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.contact-left {
    position: absolute;
    bottom: 170px;
    left: 200px;
}

.contact-right {
    position: absolute;
    bottom: 170px;
    right: 200px;
}

.contact-name {
    font-size: 24px;
    color: #3b3b3b;
}

.contact-number {
    font-size: 18px;
    color: #555555;
}

#myNav {
    visibility: hidden;
}

#top-navbar-content-2 {
    color: #bebebe;
    visibility: hidden;
}

#top-navbar-cross {
    color: #bebebe;
    z-index: 50;
}

#top-navbar-content {
    color: #bebebe;
    z-index: 50;
}

@media (max-width: 640px) {
    #myNav {
        visibility: visible;
    }

    .top-navbar-links {
        visibility: hidden;
    }

    #top-navbar-content {
        visibility: hidden;
    }

    #top-navbar-cross {
        visibility: hidden;
    }

    #top-navbar-content-2 {
        visibility: visible;
    }

    .button-class {
        top: 20px;
        right: 0px;
    }

    .top-logo {
        top: 10px;
        left: 20px;
    }

    .bottom-navbar {
        right: 40%;
        left: 40%;

    }

    .icon {
        padding: 5px;
    }

}

@media (min-width: 0px) and (max-width: 768px) {
    .slide-icon {
        right: 0px;
        left: 0px;
    }

    .container-about-us {
        padding: 100px 30px 0px 30px;
    }

    .about-ifest-header {
        padding: 10px;
    }

    .about-ifest-content {
        font-size: 18px;
        letter-spacing: 0.2px;
    }

    .slide-icon:hover {
        background-color: transparent;
        color: white;
        opacity: 0.5;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}
